.login-view {
    display: flex;
    padding: 12rem 0rem 6.25rem 0rem;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 1.3rem;
    z-index: 1;
}

.login-view>form {
    background-color: white;
    padding: 3.8rem;
    border-radius: 4.6875rem;

    filter: drop-shadow(0px 15px 18.1px rgba(0, 0, 0, 0.25));
}

.login-img {
    text-align: center;
}

#encora-logo {
    padding-bottom: 1rem;
}

.login-img>h2 {
    font-family: "Inter";
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

h5 {
    font-family: "Inter";
    font-size: 0.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.login-view>form>.mb-3>label {
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.login-img>h5 {
    color: #6c757d;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

#login-button {
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #2d1154;
    background: #2d1154;
    z-index: 1;
}

#login-button:hover {
    background-color: #591a6e;
    color: white;
}

#login-button-microsoft {
    width: 100%;
    border: 1px solid #9d8db4;
    background-color: white;
    border-radius: 0.25rem;
    border: 1px solid #6aa6dd;
    color: #6aa6dd;
    z-index: 1;
    align-items: center;
    justify-content: center;
}

#login-button-microsoft:hover { 
    background-color: #6aa6dd;
    color: white;
}



#login-button-microsoft>img {
    padding-right: 1rem;
    margin-bottom: 0.1rem;
}

.login-container {
    position: relative;
}

#login-card {
    width: 100%;
    z-index: 1;
}

.login-bg-img {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;

    width: 100vw;
    height: 100vh;
    z-index: -1;
}