.nav-link {
    margin-right: 2rem;
}

.project-header {
     display: flex;
     flex-direction: row;
        justify-content: space-between;
        align-items: center;
}

.project-register {
    height: 100%;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.2s;
}
