.navbar-account-manager {
    display: absolute;
    height: 100vh;
    width: 5rem;
    background-color: #2D1154;
    left: 0;
    margin-right: 5rem;
}

.navbar-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar-icon {
    width: 4rem;
    height: auto; 
    margin-left: 0.5rem;
}

.navbar-icon>* {

    display: block;
    margin-left: auto;
    margin-right: auto;

    margin-top: 2rem;
    margin-bottom: 2rem;
}

.navbar-img {
    width: 3rem;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}