
.mostrar{
    display: flex;
    justify-content: right;
}
.agregar{
    display: flex;
    margin-right: 3.9rem;
}
.container {
    max-width: 1200px; /* Adjust the value as needed */
    height: 500px;
    margin: 0 auto; /* Center the container horizontally */
}
.pagination-container{
    position: absolute;
    bottom: 0px;
    list-style: none;
    left: 50%;
    transform: translateX(-50%);
    display: flex; 
    justify-content: center;
    color: white;
}

.pagination .page-link {
    color: purple; /* Set the text color to purple */
}

/* Change the background color of the active page link */
.pagination .page-item.active .page-link {
    background-color: #2D1154; 
    border-color: #2D1154; 
    color: white;
}

/* Change the hover color of the pagination links */
.pagination .page-link:hover {
    color: white; /* Set the text color to white on hover */
    background-color: darkpurple; /* Set the background color to dark purple on hover */
    border-color: darkpurple; /* Set the border color to dark purple on hover */
}