
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.large-modal {
  width: 82.125rem;
  height: 55.5rem;
  border-radius: 0.9375rem;
  padding: 5rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading-form {
  margin-bottom: 6rem;
}

.form-group {
  height: 36rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  column-gap: 2.19rem;
  margin-top: auto;
}