.bench-table-container {
    background-color: var(--encora-purple);
    color: white;
    overflow-y: auto;
    max-height: 400px;
    padding: 20px;
    width: 150%;
}

.buttons-container {
    display: flex;
    justify-content: flex-start; 
    margin-bottom: 50px; 
}

.buttons-container button {
    margin-right: 10px; 
}

.bench-table-title {
    font-size: 48px;
    font-weight: bold;
    color: black;
    margin-bottom: 70px;
    margin-top: 30px;
}

.table {
    width: 90%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 8px;
    text-align: center;
    font-weight: normal;
    font-family: 'Inter', sans-serif;
}

.table th {
    background-color: #44197e;
    color: white;
}

.table tbody tr:nth-child(even) {
    background-color: darkgray !important;
}

.table tbody tr:nth-child(odd) {
    background-color: white !important;
}


.icon-container img {
    margin-right: 10px; 
}