.filter-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: 20px; 
}

.filter-dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px;
    right: 0;
}

.filter-dropdown input[type="checkbox"] {
    margin-right: 5px;
}

.filter-dropdown label {
    display: block;
    margin-bottom: 5px;
}

.filter-dropdown button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.filter-dropdown button:hover {background-color: #f1f1f1}

.filter-container:hover .filter-dropdown,
.filter-container:focus-within .filter-dropdown {
    display: block;
}

