.job-position-form {
    background-color: yellow;
    height: 60rem;
}

.close-button-position-forms {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    width: 2rem;
    text-align: center;
    border-radius: 10px;
}