
.sort-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: 20px; 
}

.sort-dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px;
    right: 0; 
}

.sort-dropdown button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.sort-dropdown button:hover {background-color: #f1f1f1}

.sort-container:hover .sort-dropdown,
.sort-container:focus-within .sort-dropdown {
    display: block;
}
